<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); %>
</head>

<body>
    <%- include('partials/header.ejs');  %>
    <form action="create" method="post">
        <label for="name">
            Name:
            <input name="name" required type="text" maxlength="100">
        </label>
        <br>
        <label>
            Fleet:
            <input name="fleet_id" required type="text">
        </label>
        <br>
        <label>
            Port:
            <input name="port" required type ="text" maxlength="10" >
        </label>
        
            <!-- <input type=""> -->
        <br>
        <button type="submit">Save</button>
    </form>
</body>

</html>