<header>
    <h1>SSDB-MS | <%=page %></h1>
    <nav>
        <div>
            <a href="/boards/all">Boards</a>
            <a href="/domains/all">Domains</a>
            <a href="/users/create">Users</a>
            <a href="/logout">Log Out</a>
        </div>
    </nav>
</header>