<header>
    <h1>SSDB-MS | <%=page %></h1>
    <nav>
        <div>
            <a href="../boards/all">Boards</a>
            <a href="../domains/all">Domains</a>
            <a href="../users/all">Users</a>
        </div>
    </nav>
</header>